[user]
	email = git.rule370@passmail.net
	name = Mihai Aftinescu
[core]
	autocrlf = input
	excludesFile = ~/.gitignore
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
